html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  color: blue;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.main {
  background-color: white;
  color: black;
  min-height: 100vh;
  font-size: 1.2rem;
}

.main h1 {
  text-align: center;
  font-size: 2rem;
}

.main a:hover {
  color: #e57200;
}

.contactForm {
  position: relative;
  display: block;
  width: 40rem;
  max-width: 100%;
  margin: 2rem auto;
}

.contactForm label {
  display: block;
  margin-top: 1rem;
  padding: 0 5%;
  font-weight: bold;
  text-align: left;
}

.contactForm input[type="text"],
.contactForm textarea {
  width: 90%;
  padding: 0.4rem;
  margin: 0 calc(5% - 0.4rem);
  border: 1px solid black;
  border-radius: 0.4rem;
}

.contactForm input[type="submit"] {
  position: relative;
  text-align: center;
  display: block;
  width: 12rem;
  margin: 2rem auto;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1.4rem;
  background: #404040;
  color: white;
}

.contactForm input[type="submit"]:hover {
  background: #e57200;
}

.footer {
  display: block;
  background: #141e3c;
  color: white;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

.footer a:hover {
  color: #e57200;
}

.contactUs a {
  background-color: #e57200;
  border: 2px solid black;
  border-radius: 0.4rem;
  padding: 0.2rem 0.4rem;
  color: black;
}

.contactUs a:hover {
  background-color: white;
  color: black;
}

.navbar {
  display: block;
  background: #141e3c;
  color: white;
  height: 6.5rem;
}

.navLinks a {
  display: inline-block;
  line-height: 2rem;
}

.navLinks a:hover {
  color: #e57200;
}

.navLogo img {
  background-color: #e57200;
  padding: 0.4rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

.navLogo img:hover {
  background-color: white;
}

.project {
  display: inline-block;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #141e3c;
  color: white;
}

.project img {
  border: 1px solid black;
  border-radius: 1rem;
  width: 10rem;
  margin-top: 0.5rem;
  background-color: white;
  padding: 0.1rem;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 26rem);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.opportunity {
  display: inline-block;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #141e3c;
  color: white;
}

.opportunity img {
  border: 1px solid black;
  border-radius: 1rem;
  width: 10rem;
  margin-top: 0.5rem;
}

.opportunityGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 26rem);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.facultyImg {
  height: 20rem;
}

/* if mobile */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
  .main {
    margin: 0 2rem;
  }

  .main a {
    font-size: 1.2rem;
  }

  .navbar {
    text-align: center;
  }

  .navLogo img {
    height: 3.5rem;
    margin-top: 0.5rem;
  }

  .navLinks {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
  }

  .navLinks a {
    padding: 0 0.2rem;
  }

  .mobileHide {
    display: none;
  }

  .project {
    margin: 0 2rem;
  }

  .opportunity {
    margin: 0 2rem;
  }
}

/* if desktop */
@media (min-aspect-ratio: 1/1) {
  .main {
    margin: 0 8rem;
  }

  .main a {
    font-size: 1.4rem;
  }

  .navbar {
    width: 100%;
    min-height: 6.5rem;
    display: inline-block;
  }

  .navLogo img {
    height: 5rem;
    margin-left: 2rem;
    margin-top: 0.75rem;
  }

  .navLinks {
    position: relative;
    float: right;
    padding: 1.6rem 1.2rem;
    font-size: 1.8rem;
  }

  .navLinks a {
    padding: 0.5rem 0.4rem 0.5rem;
  }
}
