.main {
  background-color: white;
  color: black;
  min-height: 100vh;
}

.main h1 {
  text-align: center;
}

.main a:hover {
  color: #e57200;
}

/* if mobile */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
  .main {
    margin: 0 2rem;
    font-size: 1rem;
  }

  .main a {
    font-size: 1.2rem;
  }
}

/* if desktop */
@media (min-aspect-ratio: 1/1) {
  .main {
    margin: 0 8rem;
    font-size: 1.2rem;
  }

  .main a {
    font-size: 1.4rem;
  }
}
