.navbar {
  display: block;
  background: #141e3c;
  color: white;
  height: 6.5rem;
}
.navLinks a {
  display: inline-block;
  line-height: 2rem;
}

.navLinks a:hover {
  color: #e57200;
}

/* if mobile */
@media (max-aspect-ratio: 1/1), (aspect-ratio: 1/1) {
  .navbar {
    text-align: center;
  }
  .navLogo img {
    height: 3.5rem;
    margin-top: 0.5rem;
  }
  .navLinks {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .navLinks a {
    padding: 0 0.2rem;
  }
  .mobileHide {
    display: none;
  }
}

/* if desktop */
@media (min-aspect-ratio: 1/1) {
  .navbar {
    width: 100%;
    min-height: 6.5rem;
    display: inline-block;
  }
  .navLogo img {
    height: 5rem;
    margin-left: 2rem;
    margin-top: 0.75rem;
  }
  .navLinks {
    position: relative;
    float: right;
    padding: 1.6rem 1.2rem;
    font-size: 1.8rem;
  }
  .navLinks a {
    padding: 0.5rem 0.4rem 0.5rem;
  }
}
