.project {
  display: inline-block;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #141e3c;
  color: white;
}

.project img {
  border: 1px solid black;
  border-radius: 1rem;
  width: 10rem;
  margin-top: 0.5rem;
}
